* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    background: #3F7C85;
    color: white;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.brand img {
    width: 100px;
    height: 100px;
}

.brand h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-items {
    display: flex;
    gap: 3.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.nav-items a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    transition: all 0.3s;
}

.nav-items a:hover {
    color: #05c6ba;
}

.account-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.account-btn {
    background: #FF5F5D;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 1.25rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.heading {
    padding: 4%;
    text-align: center;
    background: linear-gradient(to right, #358a8f, #05c6ba);
    color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.heading-advantages {
    color: #3F7C85;
    text-align: center;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.container-advantages {
    display: grid;
    grid-template-columns: repeat(4, 18%);
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    gap: 10px;
}

.cart-advantages {
    padding: 10px;
    border-radius: 18px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cart-advantages:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.advantages-h2 {
    font-size: 1.75rem;
    color: #437e87;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.advantages-p {
    padding: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.heading-services {
    color: #3F7C85;
    text-align: center;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.container-services {
    display: grid;
    grid-template-columns: repeat(3, 18%);
    justify-content: center;
    text-align: start;
    margin-top: 3%;
    gap: 20px;
}

.cart-services {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.219);
}

.services-h2 {
    padding: 0.5rem 0 0 0.5rem;
    font-size: 1.25rem;
    color: #437e87;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.services-p {
    padding: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.services-button {
    background: #00CCBF;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: rgba(255, 255, 255, 1);
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close:hover {
    color: #000;
}

form {
    display: none;
}

form.active {
    display: block;
}

.modal-autreg {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #FF5F5D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.switch-form {
    text-align: center;
    margin-top: 15px;
}

.switch-form a {
    color: #437e87;
    text-decoration: none;
    cursor: pointer;
}

.switch-form a:hover {
    text-decoration: underline;
}

/* ОСНОВНЫЕ ИЗМЕНЕНИЯ ДЛЯ ФУТЕРА */
main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    padding: 0.5rem 1rem 1rem 1rem;
    background-color: #3F7C85;
    color: white;
    margin-top: auto;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 18%);
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    gap: 10px;
    text-align: start;
    padding: 1rem;
}

.footer-cart p {
    padding: 0 0 0.75rem 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1.25rem;
    color: #00CCBF;
}

.footer-cart li {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1rem;
    padding: 0.25rem;
}

.footer-link {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1rem;
    padding: 0.25rem;
    color: #00CCBF !important;
}

hr {
    width: 75%;
    margin: 0 auto 0 auto;
    color: rgba(255, 255, 255, 0.151);
}

.footer-bottom {
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1rem;
    padding: 0.25rem;
    color: #00CCBF !important;
}

i {
    font-size: 1.5rem
}

.whatsapp {
    color: rgb(0, 168, 0) !important;
}

.telegram {
    color: rgb(0, 174, 255) !important;
}

.facebook {
    color: rgb(0, 119, 255) !important
}

a:hover,
a {
    text-decoration: none !important;
}

.account-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    font-family: Arial, sans-serif;
}

.account-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #00CCBF;
    border-radius: 50%;
    flex-shrink: 0;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.account-image::before {
    content: none;
}

.account-info {
    flex: 1;
}

.account-info p {
    margin: 0;
    line-height: 1.3;
}

.account-info p:first-child {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.account-email {
    font-size: 14px;
    color: #cecccc;
}

.account-container {
    display: flex;
    flex: 1;
}

/* ИСПРАВЛЕННОЕ БОКОВОЕ МЕНЮ */
aside {
    width: 15%;
    background: #3F7C85;
    color: white;
    padding: 20px 0;
    height: auto;
}

.account-main {
    width: 85%;
    padding: 30px;
    background: #f8f9fa;
    min-height: 100%;
}

.account-menu {
    display: flex;
    flex-direction: column;
    height: auto;
}

.account-menu a {
    padding: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.menu-item {
    width: 90%;
    margin: 0.5rem auto 0 auto;
    padding: 12px 5px;
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.menu-item.active {
    background-color: #00ccbe2c;
}

.menu-item:hover {
    background-color: #00ccbe2c;
}

.menu-item i {
    font-size: 1rem;
    padding-right: 5px;
}

.account-main-header {
    color: #3F7C85;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.account-main-container {
    display: grid;
    grid-template-columns: repeat(3, 18%);
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    gap: 10px;
}

.main-container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.219);
    border-radius: 5px;
}

.main-container-number {
    font-size: 1.75rem;
    color: #3F7C85;
    text-align: center;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.main-container-inscription {
    padding: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.account-table-header {
    color: #3F7C85;
    padding:0 1rem 0 1rem;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.account-table-cart {
    width: 100%;
    margin: 15px auto 15px auto;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.219);
    border-radius: 5px;
}

.account-table-cart p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.account-table {
    padding: 1rem;
}

.fa-solid.fa-circle-check {
    color: green;
    font-size: 2rem;
}

.fa-solid.fa-truck-fast {
    color: rgb(214, 214, 0);
    font-size: 2rem;
}

.fa-solid.fa-box-open {
    color: rgb(0, 132, 255);
    font-size: 2rem;
}

.tab-content {
    display: none;
    animation: fadeIn 0.5s ease;
}

.tab-content.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    padding: 20px;
}

.profile-header {
    color: #3F7C85;
    text-align: center;
    padding-top: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

label {
    color: #3F7C85;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: block;
    margin-bottom: 5px;
}

.profile-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.profile-main input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 100px;
    resize: vertical;
    box-sizing: border-box;
}

.profile-header-textarea {
    color: #3F7C85;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.profile-button {
    background: #00CCBF;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

table.iksweb{
    padding: 0 1rem 0 0;
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.iksweb th {
	    background: #4e6982;
	color: #fff; 
	font-weight: normal;
}

.history-inscription {
        color: #3F7C85;
    padding:0 1rem 0 1rem;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}